@charset "UTF-8";

	header
	{
		margin:20px 10px 40px 10px; 
		font-family:"Times New Roman","Times New Roman";
		font-size:50px;
		text-shadow:3px 3px 8px gray;
		text-align:center;
	}

	body {
	    color: #87CEEB;
	    font-family: 'Times New Roman', 'Times New Roman', 'Times New Roman';
	    background-color: #090823;
	}

	table {
		border-collapse: collapse;
	}

	th, td {
		font-size: 10pt;
		border: 1.5px solid #090823;
		height: 30px;
		padding: 5px;
		color: white;
		background-color: #003246;
	}
